body{
    margin: 0;
    background: url(login.jpg) no-repeat ;
    background-size: cover;
    height: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 150, 134);
}
li{
    float: left;
    color: aliceblue;
}
.navbar{
   float: right;
}
li a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
li a:hover{
    background-color: black;
}
form {
    background-color: rgb(233, 238, 250);
    text-align: center;
    margin: 250px 650px 0;
}
input[type=text],input[type=password]{
    margin: 10px 0;
    box-sizing: border-box;
    padding: 8px 20px;
    border: none;
    background-color: white;
}
button{
    background-color: rgb(52, 201, 164);
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 8px 88px;
}
.ll1{
    padding-top: 20px;
}
button:hover{
    opacity: 0.8;
}
.end{
    padding-bottom: 10px;
}